<div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>Enquetes</nb-card-header>
        <nb-card-body>
          <form>
            <h4>Compra de novas cameras de segurança - Urgênte</h4>
            <p class="mb-5">
              Devido aos problemas que ocorreram no condomínio na última semana, 
              abrimos essa enquete para que os condóminos possam votar pela compra de 
              novas câmeras de segurança para o condomínio. 
              O link para a página com os orçamentos está logo abaixo: 
            </p>
            <p>
              <a href="http://google.com" target="_blank">Link para a página com os orçamentos</a>
            </p>
          <span class="rating-header">Votar</span>
          <div>
          <ngb-rating [(rate)]="starRate" max=5>
            <ng-template let-fill="fill">
              <span class="star fill" [class.filled]="fill === 100">
                <i class="ion-android-star" *ngIf="fill === 100"></i>
                <i class="ion-android-star-outline" *ngIf="fill !== 100"></i>
                <p></p>
              </span>
            </ng-template>
          </ngb-rating>
          <span class="current-rate">{{ starRate }}</span>
          </div>
          <div class="form-group">
              <input type="text" placeholder="Comentário" class="form-control"/>
              <small class="form-text">Comente sobre a enquete</small>
            </div>
          <div class="offset-sm-0 col-sm-30">
              <div class="checkbox">
                <nb-checkbox>Comentário público?</nb-checkbox>
                <p></p>
              </div>
            </div>
          <div class="col-md-15">
            <button type="submit" class="btn btn-hero-success">Votar</button>
          </div>
        </form>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>Enquetes</nb-card-header>
        <nb-card-body>
          <form>
            <h4>Manutenção na churrasqueira - Relevante</h4>
            <p class="mb-5">
              Na última reunião do condomínio, alguns condóminos reportaram  que a churrasqueira da área de lazer
              estava precisando de manutenção. Favor votar abaixo para que esse problema seja tratado.
            </p>
            <span class="rating-header">Votar</span>
            <div>
            <ngb-rating [(rate)]="starRate" max=5>
              <ng-template let-fill="fill">
                <span class="star fill" [class.filled]="fill === 100">
                  <i class="ion-android-star" *ngIf="fill === 100"></i>
                  <i class="ion-android-star-outline" *ngIf="fill !== 100"></i>
                  <p></p>
                </span>
              </ng-template>
            </ngb-rating>
            <span class="current-rate">{{ starRate }}</span>
            </div>
          <p></p>
          <div class="form-group">
              <input type="text" placeholder="Comentário" class="form-control"/>
              <small class="form-text">Comente sobre a enquete</small>
            </div>
          <div class="offset-sm-0 col-sm-30">
              <div class="checkbox">
                <nb-checkbox>Comentário público?</nb-checkbox>
                <p></p>
              </div>
            </div>
          <div class="col-md-15">
            <button type="submit" class="btn btn-hero-success">Votar</button>
          </div>
        </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  