<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Enquetes</nb-card-header>
      <nb-card-body>
        <form>
        <div class="form-group">
          <input type="text" placeholder="Título da enquete" class="form-control"/>
          <small class="form-text">Defina o nome da enquete o descreva abaixo as informações sobre ela.
          </small>
        </div>
        <div class="input-group">
          <textarea rows="5" placeholder="Informações sobre a enquete" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <h6>Nível de importância</h6>
          <select class="form-control">
            <option>Urgênte</option>
            <option>Relevante</option>
            <option>Pouco relevante</option>
          </select>
        </div>
        <div class="col-md-12">
          <button type="submit" class="btn btn-hero-success">Enviar</button>
          <button type="submit" class="btn btn-hero-warning">Publicar</button>
        </div>
      </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
