// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (default, cosmic);

$nb-themes: nb-register-theme((
 // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,

  font-main: Roboto,
  font-secondary: Exo,
), default, default);

$nb-themes: nb-register-theme((
  // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,
  color-bg: rgb(18, 144, 247),
  layout-bg: rgb(13, 114, 197),
  color-bg-active: rgb(46, 127, 194),
  separator:rgb(39, 111, 170),
  
  color-fg-text: #00ff00,
  color-fg:#add6fd,
  color-fg-highlight: #00e8f9,
  color-primary: rgb(1, 225, 255),
  search-bg: linear-gradient(to left, #0c86cc, #0c86cc),
  scrollbar-fg: rgb(0, 173, 253),
  scrollbar-bg: rgb(0, 101, 184),
  
  font-main: Roboto,
  font-secondary: Exo,
), cosmic, cosmic);
